<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div>
        <h3>Contact Us</h3>
        <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3> 
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>: 
                <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+85212345678"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto:confusion@food.net"><i class="fa fa-envelope-o"></i> Email</a>
        </div>
        </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Send Us your Feedback</h3>
<!--    <p>{{feedbackForm.value | json}} {{feedbackForm.status | json}}</p> -->
      <form novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()" [hidden]="spinner" [@expand]>
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
            <mat-error *ngIf="formErrors.firstname">
              {{ formErrors.firstname }}
            </mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
              <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
              <mat-error *ngIf="formErrors.lastname">
                  {{ formErrors.lastname }}
                </mat-error>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="half-width">
                <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" pattern="[0-9]*" required>
                <mat-error *ngIf="formErrors.telnum">
                    {{ formErrors.telnum }}
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="half-width">
                  <input matInput formControlName="email" placeholder="Email" type="email" email required>
                  <mat-error *ngIf="formErrors.email">
                      {{ formErrors.email }}
                    </mat-error>
                </mat-form-field>
              </p>
              <table class="form-size">
                <td>
                  <mat-slide-toggle formControlName="agree">May we contact You ?</mat-slide-toggle>
                </td>
                <td>
                  <mat-select placeholder="How?" formControlName="contacttype">
                    <mat-option *ngFor="let ctype of contactType" [value]="ctype">
                      {{ctype}}
                    </mat-option>
                  </mat-select>
                </td>
              </table>
              <p>
                <mat-form-field class="full-width">
                  <textarea matInput formControlName="message" placeholder="Your Feedback" rows=12>
                  </textarea>
                </mat-form-field>
              </p>
              <button type="submit" mat-button class="background-primary text-floral-white"
              [disabled]="feedbackForm.invalid">
                Submit</button>
      </form>

      <div [hidden]="!spinner || feedbackSaved || errMess" [@expand]>
        <h4> Submitting Form ... </h4>
        <mat-spinner></mat-spinner>
      <!--  <p>{{feedbackSaved | json}}</p> -->
    </div>

    <div *ngIf="feedbackSaved" [hidden]="!response" [@expand]>
      
      <h2> Your Submission</h2>
      <h4> First Name : {{feedbackSaved.firstname}}</h4>
      <h4> Last Name : {{feedbackSaved.lastname}}</h4>
      <h4> Tel Num : {{feedbackSaved.telnum}}</h4>
      <h4> Email : {{feedbackSaved.email}}</h4>
      <h4> Agree ? : {{feedbackSaved.agree}}</h4>
      <h4> Contact Type : {{feedbackSaved.contacttype}}</h4>
      <h4> Message : {{feedbackSaved.message}}</h4>
  </div>
  <!--  <p>{{feedbackSaved | json}} </p> -->
    
  <div *ngIf="errMess" [hidden]="!errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
</div>

  </div>
</div>