<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" fxLayoutGap.xs="0">


    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <mat-card >
            <mat-card-header>
                <mat-card-title>
                        <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>

            <mat-card-content>
                <p> {{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail',prev]">
                <span class="fa fa-chevron-left fa-lg"></span></button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>SHARE</button>
                <button mat-button>SHARE</button>
                <span class = "flex-spacer"></span>
                <button mat-button [routerLink]="['/dishdetail',next]">
                <span class="fa fa-chevron-right fa-lg"></span>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>

        <mat-list >
            <h3>Comments</h3>
            <mat-list-item *ngFor="let comm of dish.comments">
                <h4 matLine>{{comm.comment}} </h4>
                <p matLine>{{comm.rating}} Stars</p>
                <p matLine>
                        <span>-- {{comm.author}} {{comm.date | date}}</span>
                </p>
            </mat-list-item>
            <p>{{commentsForm.value | json}}</p>
            <mat-list-item *ngIf="commentsForm.valid">
                    <h4 matLine>{{commentsForm.value.comment}} </h4>
                    <p matLine>{{commentsForm.value.rating}} Stars</p>
                    <p matLine>
                        <span>-- {{commentsForm.value.author}} </span>
                    </p>
                </mat-list-item>
                <form novalidate [formGroup]="commentsForm" id="cform" #cform="ngForm" (ngSubmit)="onSubmit()">
                    
                        <p>
                                <mat-form-field fxFlex>
                                  <input matInput formControlName="author" placeholder="Name" type="text" >
                                  <mat-error *ngIf="formErrors.author">
                                    {{ formErrors.author }}
                                  </mat-error>
                                </mat-form-field>
                                </p>
                                <p>
                                <mat-slider thumbLabel formControlName="rating" id="rating" min="1" max="5" step="1" value="5" tickInterval="1"></mat-slider>
                            </p>
                            <p>
                                <mat-form-field fxFlex>
                                        <textarea matInput formControlName="comment" placeholder="Your Comments" rows="12" >
                                            </textarea>
                                    <mat-error *ngIf="formErrors.comment">
                                        {{ formErrors.comment }}
                                      </mat-error>
                                  </mat-form-field>
                                </p>
                                <button type="submit" mat-button class="background-primary text-floral-white"
                                [disabled]="commentsForm.invalid">
                                  Submit</button>
                
                </form>


            
        </mat-list>
    </div>

    <div fxFlex [hidden]="dish || errMess">
            <mat-spinner></mat-spinner>
            <h4> Loading ... Please Wait !!!! </h4>
        </div>

        <div fxFlex *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
        </div>
</div>